@darkgray: #201f20;
@lightgray: #a9abae;
@white: #fefefe;
@textgray: #96989a;
@orange: #f58634;
@orangetransparency: rgba(245, 134, 52, .7);
@buttonorange: #f9ab6d;
@linegray: #d2d3d5;
@footertext: #727376;
@backgray: #efeff0;