@font-face {
  font-family: 'bahns';
  src: url('fonts/bahnschrift_reg.ttf');
}
@font-face {
  font-family: 'bahns-bold';
  src: url('fonts/bahnschrift_bold.ttf');
}
@font-face {
  font-family: 'bahns-light';
  src: url('fonts/bahnschrift_light.ttf');
}
body {
  font-family: 'bahns';
  user-select: none;
  padding-top: 109px;
}
img,
* {
  user-select: none;
}
.row {
  margin-bottom: 0;
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  background: #201f20;
  padding-top: 1rem;
  padding-bottom: 1rem;
  z-index: 999;
  width: 100%;
}
.navbar .row {
  margin-bottom: 0;
}
.navbar .logo img {
  height: 5rem;
}
.navbar .navigation {
  padding-top: .75rem;
}
.navbar .navigation .menu {
  display: none;
}
.navbar .navigation .menu_list {
  text-align: right;
}
.navbar .navigation .menu_list li {
  display: inline-block;
}
.navbar .navigation .menu_list li a:hover,
.navbar .navigation .menu_list li a.active {
  color: #f58634;
}
.navbar .navigation .menu_list li a {
  color: #a9abae;
  margin-left: 1rem;
  text-transform: uppercase;
  font-size: 1rem;
  font-family: 'bahns';
}
.slider .banner {
  padding: 0;
}
.slider .banner img {
  width: 100%;
}
.slider .glider-contain {
  padding: 0;
}
.slider .glider-contain .glider-slide {
  position: relative;
}
.slider .glider-contain .moreinfo {
  position: absolute;
  bottom: 3rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 40rem;
  text-align: center;
}
.slider .glider-contain .moreinfo .image {
  width: 20rem;
  margin-bottom: 1.5rem;
}
.slider .glider-contain .moreinfo .poster {
  background: #f58634;
  width: 30rem;
  padding: 1rem 0;
  margin: 0 auto;
  margin-bottom: 1.5rem;
}
.slider .glider-contain .moreinfo .poster .title {
  color: #fefefe;
  font-family: 'bahns';
  font-size: 3rem;
  letter-spacing: .25rem;
  margin: 0;
}
.slider .glider-contain .moreinfo .poster .subtitle {
  color: #fefefe;
  font-family: 'bahns';
  font-size: 2rem;
  letter-spacing: .25rem;
  margin: 0;
}
.slider .glider-contain .moreinfo .title1 {
  color: #fefefe;
  font-size: 2.5rem;
  font-family: 'bahns';
  margin: 0;
}
.slider .glider-contain .moreinfo .title2 {
  color: #fefefe;
  font-size: 1.5rem;
  font-family: 'bahns';
  margin: 0;
  opacity: .8;
}
.slider #dots {
  width: 100%;
  padding-left: 50%;
  top: -4rem;
  position: relative;
}
.slider #dots .glider-dot.active {
  background: #fefefe;
}
.slider #dots .glider-dot {
  background: transparent;
  border: 4px solid #fefefe;
  width: 20px;
  height: 20px;
}
.flame {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: -1;
}
.flame img {
  width: 29rem;
}
.home .home-icons {
  padding-top: 2rem;
  text-align: center;
}
.home .home-icons .icon {
  height: 4rem;
}
.home .home-icons .title {
  color: #96989a;
  font-size: 1.5rem;
  margin-bottom: 0;
  margin-top: 1.5rem;
}
.home .home-icons .subtitle {
  color: #f58634;
  font-size: 1.25rem;
  margin-bottom: 0;
  margin-top: .5rem;
}
.home .slogan {
  border-top: 0.3rem solid #d2d3d5;
  border-bottom: 0.3rem solid #d2d3d5;
  margin-top: 2rem;
  padding: 2rem 0;
}
.home .slogan .text {
  text-align: center;
  color: #d2d3d5;
  font-size: 3rem;
  padding: 0 4rem;
  line-height: 4rem;
  margin: 0;
  letter-spacing: .15rem;
}
.home .projects {
  margin-top: 2rem;
}
.home .projects .title {
  text-align: center;
  color: #f58634;
  font-size: 3.5rem;
  margin: 0;
  padding-bottom: 2rem;
}
.home .projects-content {
  padding: 0;
  position: relative;
}
.home .projects-content .project-item {
  border-top: 0.3rem solid #f58634;
  padding-top: 3rem;
  padding-bottom: 1rem;
}
.home .projects-content .project-item .row {
  display: flex;
  flex-wrap: wrap;
}
.home .projects-content .project-item .project-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 10%;
}
.home .projects-content .project-item .project-text .title {
  color: #a9abae;
  margin: 0;
  font-size: 1.5rem;
}
.home .projects-content .project-item .project-text .subtitle {
  color: #f58634;
  margin: 0;
  font-size: 1.5rem;
  padding-left: 4.5rem;
}
.home .projects-content .project-item .project-text .spacer {
  background: #d2d3d5;
  height: .3rem;
  margin-top: .25rem;
  margin-bottom: 1rem;
}
.home .projects-content .project-item .project-text .description {
  color: #96989a;
  font-size: 1rem;
  letter-spacing: .15rem;
  text-align: justify;
}
.home .projects-content .project-item .project-text .button-cont {
  margin-top: 2rem;
}
.home .projects-content .project-item .project-text .button-cont .button:hover {
  background: #f58634;
  color: #fefefe;
}
.home .projects-content .project-item .project-text .button-cont .button {
  border: 2px solid #f58634;
  color: #f58634;
  text-transform: uppercase;
  padding: .5rem 1.5rem;
}
.home .projects-content .project-item .project-image .image {
  width: 100%;
}
.footer {
  background: url('/images/1fondoform.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.footer .form-contact {
  background: #fefefe;
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding: 2rem 2rem;
}
.footer .form-contact p {
  margin: 0;
  color: #96989a;
}
.footer .form-contact .input-field {
  margin: 0;
}
.footer .form-contact .spacer {
  height: 1rem;
}
.footer .form-contact .btn-urbano {
  background: #f9ab6d;
  color: #fefefe;
  margin-top: 1rem;
}
.footer .title {
  font-size: 3rem;
  margin-bottom: 0;
  color: #fefefe;
  padding-top: 1rem;
  padding-left: 1rem;
}
.footer .footer-slogan {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.footer .footer-slogan img {
  width: 50%;
}
.footer .footer-slogan .description {
  margin-top: 4rem;
  color: #fefefe;
  font-size: 2rem;
}
.footer-info {
  background: #d2d3d5;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.footer-info .footer-logo {
  padding-top: 1rem;
}
.footer-info .footer-logo img {
  width: 10rem;
}
.footer-info .footer-info {
  text-align: right;
}
.footer-info .footer-info .social .social-icon {
  margin-left: .5rem;
}
.footer-info .footer-info .social .social-icon img {
  width: 2rem;
}
.footer-info .footer-info .footer-info-desc {
  color: #727376;
  margin: 0;
}
.about .about-content {
  padding: 0;
  position: relative;
  padding-top: 4rem;
  padding-bottom: 4rem;
  margin-bottom: 4rem;
}
.about .about-content .spacer {
  width: 100%;
  height: .3rem;
  background: #f58634;
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.about .about-content .businesstitle {
  width: 80%;
  border-top: 0.3rem solid #f58634;
  border-bottom: 0.3rem solid #f58634;
  padding: 1.5rem 0;
  margin-top: 4rem;
  margin-bottom: 2rem;
}
.about .about-content .businesstitle h2 {
  color: #f58634;
  font-size: 2.5rem;
  margin: 0;
}
.about .about-content .businessdescription .text .title {
  color: #f58634;
  font-size: 1.5rem;
}
.about .about-content .businessdescription .text .description {
  color: #96989a;
  font-size: 1rem;
  text-align: justify;
}
.about .about-content .businessdescription .image img {
  width: 100%;
}
.about .about-content .about-item .about-text .title {
  color: #f58634;
  font-size: 2.5rem;
}
.about .about-content .about-item .about-text .description {
  color: #96989a;
  font-size: 1rem;
  text-align: justify;
}
.about .about-content .about-item .about-image-right {
  text-align: right;
}
.about .about-content .about-item .about-image-left {
  text-align: left;
}
.about .about-content .about-item .about-image .image {
  width: 98%;
}
.projects .first-title {
  margin-top: 2rem;
}
.projects .first-title .title {
  color: #f58634;
  font-size: 2.5rem;
  text-align: center;
  text-transform: uppercase;
  border-bottom: 0.25rem solid #d2d3d5;
  padding-bottom: 1rem;
}
.projects .first-title .description {
  color: #a9abae;
  font-size: 1.25rem;
  text-align: center;
  font-weight: 500;
  font-family: 'bahns-light';
  margin: 1rem 0;
}
.projects .projects-title {
  margin-bottom: 2rem;
}
.projects .projects-title .title {
  color: #f58634;
  font-size: 2.5rem;
  text-align: center;
}
.projects .projects-construction {
  padding: 0;
  position: relative;
  padding-bottom: 1rem;
}
.projects .projects-construction .project-item {
  border-top: 0.3rem solid #f58634;
  padding-top: 3rem;
  padding-bottom: 1rem;
}
.projects .projects-construction .project-item .row {
  display: flex;
  flex-wrap: wrap;
}
.projects .projects-construction .project-item .project-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 10%;
}
.projects .projects-construction .project-item .project-text .title {
  color: #a9abae;
  margin: 0;
  font-size: 1.5rem;
}
.projects .projects-construction .project-item .project-text .subtitle {
  color: #f58634;
  margin: 0;
  font-size: 1.5rem;
  padding-left: 4.5rem;
}
.projects .projects-construction .project-item .project-text .spacer {
  background: #d2d3d5;
  height: .3rem;
  margin-top: .25rem;
  margin-bottom: 1rem;
}
.projects .projects-construction .project-item .project-text .description {
  color: #96989a;
  font-size: 1rem;
  letter-spacing: .15rem;
  text-align: justify;
}
.projects .projects-construction .project-item .project-text .button-cont {
  margin-top: 2rem;
}
.projects .projects-construction .project-item .project-text .button-cont .button:hover {
  background: #f58634;
  color: #fefefe;
}
.projects .projects-construction .project-item .project-text .button-cont .button {
  border: 2px solid #f58634;
  color: #f58634;
  text-transform: uppercase;
  padding: .5rem 1.5rem;
}
.projects .projects-construction .project-item .project-image .image {
  width: 100%;
}
.projects .projects-title2 {
  border-top: 0.3rem solid #f58634;
}
.projects .projects-title2 .title {
  color: #f58634;
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 4rem;
}
.projects .projects-title2 .description {
  color: #a9abae;
  font-size: 1rem;
  text-align: justify;
  font-weight: 500;
  font-family: 'bahns-light';
  margin: 1rem 0;
}
.projects .projects-done {
  margin-bottom: 2rem;
}
.projects .projects-done .project-item:hover span {
  opacity: 1;
}
.projects .projects-done .project-item {
  position: relative;
  margin-top: 4rem;
}
.projects .projects-done .project-item img {
  width: 100%;
}
.projects .projects-done .project-item span {
  position: absolute;
  bottom: .3rem;
  transition: 0.5s all ease-in-out;
  background: rgba(245, 134, 52, 0.7);
  width: calc(98.5%);
  left: .75rem;
  text-align: center;
  display: block;
  color: #fefefe;
  padding: .5rem 0;
  opacity: 0;
}
.project-detail .projects-construction {
  padding: 0;
  position: relative;
  padding-bottom: 1rem;
}
.project-detail .projects-construction .project-item {
  padding-top: 3rem;
  padding-bottom: 1rem;
}
.project-detail .projects-construction .project-item .row {
  display: flex;
  flex-wrap: wrap;
}
.project-detail .projects-construction .project-item .project-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 10%;
}
.project-detail .projects-construction .project-item .project-text .title {
  color: #a9abae;
  margin: 0;
  font-size: 1.5rem;
}
.project-detail .projects-construction .project-item .project-text .subtitle {
  color: #f58634;
  margin: 0;
  font-size: 1.5rem;
  padding-left: 4.5rem;
}
.project-detail .projects-construction .project-item .project-text .spacer {
  background: #d2d3d5;
  height: .3rem;
  margin-top: .25rem;
  margin-bottom: 1rem;
}
.project-detail .projects-construction .project-item .project-text .description {
  color: #96989a;
  font-size: 1rem;
  letter-spacing: .15rem;
  text-align: justify;
}
.project-detail .projects-construction .project-item .project-text .button-cont {
  margin-top: 2rem;
}
.project-detail .projects-construction .project-item .project-text .button-cont .button:hover {
  background: #f58634;
  color: #fefefe;
}
.project-detail .projects-construction .project-item .project-text .button-cont .button {
  border: 2px solid #f58634;
  color: #f58634;
  text-transform: uppercase;
  padding: .5rem 1.5rem;
}
.project-detail .projects-construction .project-item .project-image .image {
  width: 100%;
}
.project-detail .project-information {
  padding: 0;
  margin-top: 2rem;
  border-bottom: 0.3rem solid #f58634;
}
.project-detail .project-information .row {
  display: flex;
  flex-wrap: wrap;
}
.project-detail .project-information .info-item {
  border-top: 0.3rem solid #f58634;
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.project-detail .project-information .info-item .info-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 10%;
}
.project-detail .project-information .info-item .info-text .title {
  color: #f58634;
  margin: 0;
  font-size: 2.5rem;
}
.project-detail .project-information .info-item .info-text .description {
  color: #96989a;
  font-size: 1rem;
  letter-spacing: .15rem;
  text-align: justify;
}
.project-detail .project-information .info-item .info-text .list li {
  color: #96989a;
  font-size: 1rem;
  letter-spacing: .15rem;
  text-align: justify;
}
.project-detail .project-information .info-item .info-image .image {
  width: 100%;
}
.project-detail .project-plans {
  margin-top: 4rem;
}
.project-detail .project-plans #plan-carousel {
  overflow: hidden;
}
.project-detail .project-plans .plan-item .title {
  color: #f58634;
  font-size: 2.5rem;
  margin: 0;
}
.project-detail .project-plans .plan-item .subtitle {
  color: #96989a;
  font-size: 1.5rem;
  margin: 0;
}
.project-detail .project-plans .plan-item .image-cont {
  padding-right: 0;
}
.project-detail .project-plans .plan-item .image-cont .image {
  width: 100%;
}
.project-detail .project-plans .plan-item .plan-info {
  margin-top: 1rem;
  background: #efeff0;
  padding-bottom: 1rem;
}
.project-detail .project-plans .plan-item .plan-info .items {
  margin-bottom: 0;
}
.project-detail .project-plans .plan-item .plan-info .items li {
  color: #96989a;
  line-height: 1.1rem;
  font-size: 1rem;
}
.project-detail .project-plans .plan-item .plan-info .title {
  font-size: 1.15rem;
  margin-top: 1rem;
  margin-bottom: 0;
}
.project-detail .project-plans .plan-item .plan-info div {
  color: #96989a;
  font-size: 1rem;
  line-height: 1.1rem;
}
.project-detail .project-plans .plan-item .plan-info .description {
  color: #96989a;
  font-size: 1rem;
  line-height: 1.1rem;
  margin: 0;
}
.project-detail .project-plans .plan-item .plan-info .buttons-cont {
  text-align: right;
  padding-right: 2rem;
  margin-top: 1rem;
}
.project-detail .project-plans .plan-item .plan-info .buttons-cont button {
  cursor: pointer;
  margin-left: .5rem;
  background: #fefefe;
  border: 1px solid #d2d3d5;
}
.project-detail .project-plans .plan-item .plan-info .buttons-cont button i {
  color: #96989a;
}
.project-detail .project-gallery {
  overflow: hidden;
  margin-bottom: 2rem;
  border-top: 0.3rem solid #f58634;
  margin-top: 2rem;
  padding: 0;
}
.project-detail .project-gallery .title {
  color: #f58634;
  font-size: 2.5rem;
}
.project-detail .project-gallery .row {
  display: flex;
  flex-wrap: wrap;
}
.project-detail .project-gallery .col {
  min-height: 200px;
}
.project-detail .project-gallery a {
  width: 100%;
  height: 100%;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  display: block;
}
.project-detail .share {
  text-align: right;
  margin-bottom: 2rem;
}
.project-detail .share span {
  font-size: 2rem;
  color: #96989a;
  vertical-align: top;
  margin-right: 1.5rem;
}
.project-detail .share img {
  width: 3rem;
  margin-right: .5rem;
}
.news {
  margin-bottom: 2rem;
}
.news .news-item {
  margin-bottom: 2rem;
}
.news .news-item .news-text .title {
  color: #f58634;
  font-size: 2.5rem;
}
.news .news-item .news-text .description {
  color: #96989a;
  font-size: 1rem;
}
.news .news-item .news-text .subtitle {
  font-weight: bold;
  color: #727376;
  font-size: 1rem;
}
.contact .slogan {
  margin-top: 2rem;
  margin-bottom: 4rem;
}
.contact .slogan p {
  text-align: center;
  color: #96989a;
  font-size: 2.5rem;
  margin: 0;
}
