@import 'colors.less';

@font-face {
    font-family: 'bahns';
    src: url('fonts/bahnschrift_reg.ttf');
}

@font-face {
    font-family: 'bahns-bold';
    src: url('fonts/bahnschrift_bold.ttf');
}

@font-face {
    font-family: 'bahns-light';
    src: url('fonts/bahnschrift_light.ttf');
}

body {
    font-family: 'bahns';
    user-select: none;
    padding-top: 109px;
}

img, * {
    user-select: none;
}

.row {margin-bottom: 0;}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    background: @darkgray;
    padding-top: 1rem;
    padding-bottom: 1rem;
    z-index: 999;
    width: 100%;
    .row {
        margin-bottom: 0;
    }
    .logo {
        img {
            height: 5rem;
        }
    }
    .navigation {
        padding-top: .75rem;
        .menu {
            display: none;
        }
        .menu_list {
            text-align: right;
            li {
                display: inline-block;
                a:hover, a.active {
                    color: @orange;
                }
                a {
                    color: @lightgray;
                    margin-left: 1rem;
                    text-transform: uppercase;
                    font-size: 1rem;
                    font-family: 'bahns';
                }
            }
        }
    }
}

.slider {
    .banner {
        padding: 0;
        img {
            width: 100%;
        }
    }
    .glider-contain {
        padding: 0;

        .glider-slide {
            position: relative;
        }

        .moreinfo {
            position: absolute;
            bottom: 3rem;
            left: 0;
            right: 0;
            margin: 0 auto;
            width: 40rem;
            text-align: center;
            .image {
                width: 20rem;
                margin-bottom: 1.5rem;
            }
            .poster {
                background: @orange;
                width: 30rem;
                padding: 1rem 0;
                margin: 0 auto;
                margin-bottom: 1.5rem;
                .title {
                    color: @white;
                    font-family: 'bahns';
                    font-size: 3rem;
                    letter-spacing: .25rem;
                    margin: 0;
                }
                .subtitle {
                    color: @white;
                    font-family: 'bahns';
                    font-size: 2rem;
                    letter-spacing: .25rem;
                    margin: 0;
                }
            }
            .title1 {
                color: @white;
                font-size: 2.5rem;
                font-family: 'bahns';
                margin: 0;
            }
            .title2 {
                color: @white;
                font-size: 1.5rem;
                font-family: 'bahns';
                margin: 0;
                opacity: .8;
            }
        }
    }
    #dots {
        width: 100%;
        padding-left: 50%;
        top: -4rem;
        position: relative;

        .glider-dot.active {
            background: @white;
        }

        .glider-dot {
            background: transparent;
            border: 4px solid @white;
            width: 20px;
            height: 20px;
        }
    }
}

.flame {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: -1;
    img {
        width: 29rem;
    }
}

.home {
    .home-icons {
        padding-top: 2rem;
        text-align: center;
        .icon {
            height: 4rem;
        }
        .title {
            color: @textgray;
            font-size: 1.5rem;
            margin-bottom: 0;
            margin-top: 1.5rem;
        }
        .subtitle {
            color: @orange;
            font-size: 1.25rem;
            margin-bottom: 0;
            margin-top: .5rem;
        }
    }

    .slogan {
        border-top: .3rem solid @linegray;
        border-bottom: .3rem solid @linegray;
        margin-top: 2rem;
        padding: 2rem 0;
        .text {
            text-align: center;
            color: @linegray;
            font-size: 3rem;
            padding: 0 4rem;
            line-height: 4rem;
            margin: 0;
            letter-spacing: .15rem;
        }
    }

    .projects {
        margin-top: 2rem;
        .title {
            text-align: center;
            color: @orange;
            font-size: 3.5rem;
            margin: 0;
            padding-bottom: 2rem;
        }
    }

    .projects-content {
        padding: 0;
        position: relative;
        
        .project-item {
            border-top: .3rem solid @orange;
            padding-top: 3rem;
            padding-bottom: 1rem;
            .row {
                display: flex;
                flex-wrap: wrap;
            }
            .project-text {
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding-right: 10%;
                .title {
                    color: @lightgray;
                    margin: 0;
                    font-size: 1.5rem;
                }
                .subtitle {
                    color: @orange;
                    margin: 0;
                    font-size: 1.5rem;
                    padding-left: 4.5rem;
                }
                .spacer {
                    background: @linegray;
                    height: .3rem;
                    margin-top: .25rem;
                    margin-bottom: 1rem;
                }
                .description {
                    color: @textgray;
                    font-size: 1rem;
                    letter-spacing: .15rem;
                    text-align: justify;
                }
                .button-cont {
                    margin-top: 2rem;
                    .button:hover {
                        background: @orange;
                        color: @white;
                    }
                    .button {
                        border: 2px solid @orange;
                        color: @orange;
                        text-transform: uppercase;
                        padding: .5rem 1.5rem;
                    }
                }
            }
            .project-image {
                .image {
                    width: 100%;
                }
            }
        }
    }
}

.footer {
    background: url('/images/1fondoform.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    .form-contact {
        background: @white;
        margin-top: 3rem;
        margin-bottom: 3rem;
        padding: 2rem 2rem;

        p {
            margin: 0;
            color: @textgray;
        }

        .input-field {
            margin: 0;
        }

        .spacer {
            height: 1rem;
        }

        .btn-urbano {
            background: @buttonorange;
            color: @white;
            margin-top: 1rem;
        }
    }

    .title {
        font-size: 3rem;
        margin-bottom: 0;
        color: @white;
        padding-top: 1rem;
        padding-left: 1rem;
    }

    .footer-slogan {
        padding-top: 4rem;
        padding-bottom: 4rem;
        img {
            width: 50%;
        }
        .description {
            margin-top: 4rem;
            color: @white;
            font-size: 2rem;
        }
    }
}

.footer-info {
    background: @linegray;
    padding-top: 2rem;
    padding-bottom: 2rem;
    .footer-logo {
        padding-top: 1rem;
        img {
            width: 10rem;
        }
    }

    .footer-info {
        text-align: right;
        .social {
            .social-icon {
                margin-left: .5rem;
                img {
                    width: 2rem;
                }
            }
        }
        .footer-info-desc {
            color: @footertext;
            margin: 0;
        }
    }
}

.about {
    .about-content {
        padding: 0;
        position: relative;
        padding-top: 4rem;
        padding-bottom: 4rem;
        margin-bottom: 4rem;
        .spacer {
            width: 100%;
            height: .3rem;
            background: @orange;
            margin-top: 4rem;
            margin-bottom: 4rem;
        }
        .businesstitle {
            width: 80%;
            border-top: .3rem solid @orange;
            border-bottom: .3rem solid @orange;
            padding: 1.5rem 0;
            margin-top: 4rem;
            margin-bottom: 2rem;
            h2 {
                color: @orange;
                font-size: 2.5rem;
                margin: 0;
            }
        }
        .businessdescription {
            .text {
                .title {
                    color: @orange;
                    font-size: 1.5rem;
                }
                .description {
                    color: @textgray;
                    font-size: 1rem;
                    text-align: justify;
                }
            }
            .image {
                img {
                    width: 100%;
                }
            }
        }
        .about-item {
            .about-text {
                .title {
                    color: @orange;
                    font-size: 2.5rem;
                }
                .description {
                    color: @textgray;
                    font-size: 1rem;
                    text-align: justify;
                }
            }
            .about-image-right {
                text-align: right;
            }
            .about-image-left {
                text-align: left;
            }
            .about-image {
                .image {
                    width: 98%;
                }
            }    
        }
    }
}

.projects {
    .first-title {
        margin-top: 2rem;
        .title {
            color: @orange;
            font-size: 2.5rem;
            text-align: center;
            text-transform: uppercase;
            border-bottom: .25rem solid @linegray;
            padding-bottom: 1rem;
        }
        .description {
            color: @lightgray;
            font-size: 1.25rem;
            text-align: center;
            font-weight: 500;
            font-family: 'bahns-light';
            margin: 1rem 0;
        }
    }

    .projects-title {
        margin-bottom: 2rem;
        .title {
            color: @orange;
            font-size: 2.5rem;
            text-align: center;
        }
    }

    .projects-construction {
        padding: 0;
        position: relative;
        padding-bottom: 1rem;
        
        .project-item {
            border-top: .3rem solid @orange;
            padding-top: 3rem;
            padding-bottom: 1rem;
            .row {
                display: flex;
                flex-wrap: wrap;
            }
            .project-text {
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding-right: 10%;
                .title {
                    color: @lightgray;
                    margin: 0;
                    font-size: 1.5rem;
                }
                .subtitle {
                    color: @orange;
                    margin: 0;
                    font-size: 1.5rem;
                    padding-left: 4.5rem;
                }
                .spacer {
                    background: @linegray;
                    height: .3rem;
                    margin-top: .25rem;
                    margin-bottom: 1rem;
                }
                .description {
                    color: @textgray;
                    font-size: 1rem;
                    letter-spacing: .15rem;
                    text-align: justify;
                }
                .button-cont {
                    margin-top: 2rem;
                    .button:hover {
                        background: @orange;
                        color: @white;
                    }
                    .button {
                        border: 2px solid @orange;
                        color: @orange;
                        text-transform: uppercase;
                        padding: .5rem 1.5rem;
                    }
                }
            }
            .project-image {
                .image {
                    width: 100%;
                }
            }
        }
    }

    .projects-title2 {
        border-top: .3rem solid @orange;
        .title {
            color: @orange;
            font-size: 2.5rem;
            text-align: center;
            margin-bottom: 4rem;
        }
        .description {
            color: @lightgray;
            font-size: 1rem;
            text-align: justify;
            font-weight: 500;
            font-family: 'bahns-light';
            margin: 1rem 0;
        }
    }

    .projects-done {
        margin-bottom: 2rem;
        .project-item:hover {
            span {
                opacity: 1;
            }
        }
        .project-item {
            position: relative;
            margin-top: 4rem;
            img {
                width: 100%;
            }
            span {
                position: absolute;
                bottom: .3rem;
                transition: .5s all ease-in-out;
                background: @orangetransparency;
                width: calc(100% - 1.5rem);
                left: .75rem;
                text-align: center;
                display: block;
                color: @white;
                padding: .5rem 0;
                opacity: 0;
            }
        }
    }
}

.project-detail {

    .projects-construction {
        padding: 0;
        position: relative;
        padding-bottom: 1rem;
        
        .project-item {
            padding-top: 3rem;
            padding-bottom: 1rem;
            .row {
                display: flex;
                flex-wrap: wrap;
            }
            .project-text {
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding-right: 10%;
                .title {
                    color: @lightgray;
                    margin: 0;
                    font-size: 1.5rem;
                }
                .subtitle {
                    color: @orange;
                    margin: 0;
                    font-size: 1.5rem;
                    padding-left: 4.5rem;
                }
                .spacer {
                    background: @linegray;
                    height: .3rem;
                    margin-top: .25rem;
                    margin-bottom: 1rem;
                }
                .description {
                    color: @textgray;
                    font-size: 1rem;
                    letter-spacing: .15rem;
                    text-align: justify;
                }
                .button-cont {
                    margin-top: 2rem;
                    .button:hover {
                        background: @orange;
                        color: @white;
                    }
                    .button {
                        border: 2px solid @orange;
                        color: @orange;
                        text-transform: uppercase;
                        padding: .5rem 1.5rem;
                    }
                }
            }
            .project-image {
                .image {
                    width: 100%;
                }
            }
        }
    }

    .project-information {
        padding: 0;
        margin-top: 2rem;
        border-bottom: .3rem solid @orange;
        .row {
            display: flex;
            flex-wrap: wrap;
        }
        .info-item {
            border-top: .3rem solid @orange;
            padding-top: 4rem;
            padding-bottom: 4rem;
            .info-text {
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding-right: 10%;
                .title {
                    color: @orange;
                    margin: 0;
                    font-size: 2.5rem;
                }
                .description {
                    color: @textgray;
                    font-size: 1rem;
                    letter-spacing: .15rem;
                    text-align: justify;
                }
                .list {
                    li {
                        color: @textgray;
                        font-size: 1rem;
                        letter-spacing: .15rem;
                        text-align: justify;
                    }
                }
            }

            .info-image {
                .image {
                    width: 100%;
                }
            }
        }
    }

    .project-plans {
        margin-top: 4rem;
        #plan-carousel {
            overflow: hidden;
        }
        .plan-item {
            .title {
                color: @orange;
                font-size: 2.5rem;
                margin: 0;
            }
            .subtitle {
                color: @textgray;
                font-size: 1.5rem;
                margin: 0;
            }

            .image-cont {
                padding-right: 0;
                .image {
                    width: 100%;
                }
            }

            .plan-info {
                margin-top: 1rem;
                background: @backgray;
                padding-bottom: 1rem;
                .items {
                    margin-bottom: 0;
                    li {
                        color: @textgray;
                        line-height: 1.1rem;
                        font-size: 1rem;
                    }
                }
                .title {
                    font-size: 1.15rem;
                    margin-top: 1rem;
                    margin-bottom: 0;
                }

                div {
                    color: @textgray;
                    font-size: 1rem;
                    line-height: 1.1rem;
                }
                .description {
                    color: @textgray;
                    font-size: 1rem;
                    line-height: 1.1rem;
                    margin: 0;
                }

                .buttons-cont {
                    text-align: right;
                    padding-right: 2rem;
                    margin-top: 1rem;
                    button {
                        cursor: pointer;
                        margin-left: .5rem;
                        background: @white;
                        border: 1px solid @linegray;
                        i {
                            color: @textgray;
                        }
                    }
                }
            }
        }
    }

    .project-gallery {
        overflow: hidden;
        margin-bottom: 2rem;
        border-top: .3rem solid @orange;
        margin-top: 2rem;
        padding: 0;
        .title {
            color: @orange;
            font-size: 2.5rem;
        }
        .row {
            display: flex;
            flex-wrap: wrap;
        }
        .col {
            min-height: 200px;
        }
        a {
            width: 100%;
            height: 100%;
            background-size: cover !important;
            background-position: center !important;
            background-repeat: no-repeat !important;
            display: block;
        }
    }

    .share {
        text-align: right;
        margin-bottom: 2rem;
        span {
            font-size: 2rem;
            color: @textgray;
            vertical-align: top;
            margin-right: 1.5rem;
        }
        img {
            width: 3rem;
            margin-right: .5rem;
        }
    }
    
}

.news {
    margin-bottom: 2rem;
    .news-item {
        margin-bottom: 2rem;
        .news-text {
            .title {
                color: @orange;
                font-size: 2.5rem;
            }
            .description {
                color: @textgray;
                font-size: 1rem;
            }
            .subtitle {
                font-weight: bold;
                color: @footertext;
                font-size: 1rem;
            }
        }
    }
}

.contact {
    .slogan {
        margin-top: 2rem;
        margin-bottom: 4rem;
        p {
            text-align: center;
            color: @textgray;
            font-size: 2.5rem;
            margin: 0;
        }
    }
}